{% extends "base.html" %}

{% block content %}


{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} text-center fs-4" role="alert">
        <span class="py-2 px-3">{{message}}</span>
    </div>
    {% endfor %}
</div>
{% endif %}


<!-- ---------------------------------- -->
<div class="text-center mt-5 mb-4">
    <h3 class="text-white p-2">
        <span class="bg-dark p-2 px-4 m-3 rounded-pill">Welcome back, <span class="text-info">{{ user }}</span></span>
    </h3>
</div>

<!-- ---------------------------------- -->

<div class="d-flex justify-content-center mb-5 px-2">
    <div class="card shadow-lg rounded-lg" style="width: 450px; background-color: #f0f8f7;">
        <div class="card-body p-4">
            <h5><b>Name: </b>{{ user.first_name }} {{ user.last_name }}</h5>
            <h5><b>Email: </b>{{ user.email }}</h5>
            <h5><b>Username: </b>{{ user.username }}</h5>

            <div class="d-flex justify-content-end mt-4">
                <a class="btn btn-warning text-dark fw-bold" href="{% url 'edit_profile' %}">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

<!-- ---------------------------------- -->

<div class="text-center mb-4">
    <h3 class="text-dark">Your Purchased Products</h3>
    <p class="text-muted">Here are the products you've purchased from BookCrest.</p>
</div>

<!-- ---------------------------------- -->

{% if purchases %}
<div class="table-responsive w-75 m-auto">
    <table class="table-responsive table-striped table-bordered shadow-sm bg-white" style="max-width: 100%; overflow-x: auto; margin: auto;">
        <thead class="table-dark">
            <tr class="fs-5">
                <th class="text-start py-3 px-4 text-center">ID</th>
                <th class="text-start py-3 px-4 text-center">Name</th>
                <th class="text-start py-3 px-4 text-center">Price</th>
                <th class="text-start py-3 px-4 text-center">Date</th>
                <th class="text-start py-3 px-4 text-center">Return</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td class="py-2 px-4">{{ forloop.counter }}</td>
                <td class="py-2 px-4"> <a href="{% url 'all_details' purchase.id %}">{{ purchase.product.name }}</a></td>
                <td class="py-2 px-4">{{ purchase.product.price }}</td>
                <td class="py-2 px-4">{{ purchase.get_bangladesh_time }}</td>
                <td class="py-2 px-4">
                    <a class="btn btn-danger btn-sm" href="{% url 'return_book' purchase.id %}">Return</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
    <p class="text-center w-100 text-muted">No products purchased yet.</p>
{% endif %}
<!-- ---------------------------------- -->

{% endblock content %}